{% extends 'docenti/docenti-base.html' %}
{% block title %} I tuoi appelli {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <h1>I tuoi appelli</h1>

    <table id="appelli-table" class="table table-hover">
        <thead>
            <tr>
                <th>Codice Appello</th>
                <th>Data Appello</th>
                <th>Codice Prova</th>
                <th>Aula</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for appello in appelli %}
                <tr>
                    <td>{{ appello.cod_appello }}</td>
                    <td>
                        <input type="datetime-local"
                            class="form-control-plaintext"
                            value="{{ appello.data_appello.strftime("%Y-%m-%dT%H:%M") }}"
                           readonly
                        ></td>
                    <td>{{ appello.cod_prova }}</td>
                    <td>{{ appello.aula }}</td>
                    <td>
                        <a href="{{ url_for('view.docenti.appello', cod_appello=appello.cod_appello) }}" class="btn btn-primary">Dettagli</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% block script %}{% endblock %}
{% endblock %}