{% extends 'docenti/docenti-base.html' %}
{% block title %} Appelli {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <h1>Appelli</h1>

    <table id="appelli-table" class="table table-hover">
        <thead>
            <tr>
                <th>Codice Appello</th>
                <th>Data Appello</th>
                <th>Codice Prova</th>
                <th>Aula</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    {% block script %}{% endblock %}
{% endblock %}