{% extends 'docenti/docenti-base.html' %}
{% block title %} Esami {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <h1>Corso di laurea in {{ corso.nome_corso_laurea }}</h1>

    <button class="btn btn-primary" data-toggle="modal" data-target="#create-esame-modal">Crea un nuovo esame</button>

    <!-- Modale creazione esame -->
    <div class="modal" tabindex="-1" role="dialog" id="create-esame-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Form aggiunta esame -->
                <form id="create-esame-form">
                    <div class="modal-header">
                        <h5 class="modal-title">Crea esame</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cod_corso">Codice esame</label>
                            <input type="text" name="cod_esame" id="cod_esame" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="nome_corso">Nome corso</label>
                            <input type="text" name="nome_corso" id="nome_corso" class="form-control">
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="anno">Anno</label>
                                <input type="number" name="anno" id="anno" min="1" class="form-control">
                            </div>
                            <div class="col">
                                <label for="cfu">CFU</label>
                                <input type="number" name="cfu" id="cfu" min="0" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="descrizione">Descrizione</label>
                                <textarea name="descrizione_corso" id="descrizione_corso" class="form-control"></textarea>
                            </div>
                        </div>
                        <input
                                type="text"
                                name="cod_corso_laurea"
                                id="cod-corso-laurea"
                                hidden="hidden"
                                value="{{ corso.cod_corso_laurea }}"
                        >
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="create-esame-btn" data-dismiss="modal">
                            <i class="fa-solid fa-check"></i> Aggiungi
                        </button>
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> Annulla
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modale aggiunta esame ad anno accademico -->
    <div class="modal" tabindex="-1" role="dialog" id="add-esame-anno-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Form aggiunta esame -->
                <form id="add-esame-anno-form">
                    <div class="modal-header">
                        <h5 class="modal-title">Aggiungi esame ad anno accademico</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cod-esame-add-anno">Codice esame</label>
                            <input type="text" name="cod_esame" id="cod-esame-add-anno" class="form-control-plaintext" readonly>
                        </div>
                        <div class="form-group">
                            <label for="cod-anno-accademico-add-anno">Anno accademico</label>
                            <select name="cod_anno_accademico" id="cod-anno-accademico-add-anno" class="form-control">

                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="add-esame-anno-btn" data-dismiss="modal">
                            <i class="fa-solid fa-check"></i> Aggiungi
                        </button>
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i> Annulla
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table id="esami-table" class="table">
        <thead>
        <tr>
            <th></th>
            <th>Codice</th>
            <th>Nome corso</th>
            <th>Descrizione</th>
            <th>Anno</th>
            <th>CFU</th>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="{{ url_for('static', filename='js/docenti/corso_laurea.js') }}"></script>
{% endblock %}
