{% extends 'docenti/docenti-base.html' %}
{% block title %} I tuoi esami {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <h1>I tuoi esami</h1>

    <table id="esami-table" class="table table-hover">
        <thead>
        <tr>
            <th>Codice</th>
            <th>Nome corso</th>
            <th>Descrizione</th>
            <th>Anno</th>
            <th>CFU</th>
            <th>Corso di Laurea</th>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="{{ url_for('static', filename='js/docenti/esami.js') }}"></script>
{% endblock %}
