{% extends 'docenti/docenti-base.html' %}
{% block title %} Esami {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <h1>Esami</h1>

    <button class="btn btn-primary" data-toggle="modal" data-target="#add-modal"><i class="fa-solid fa-plus"></i></button>

    <!-- Modale aggiunta esame -->
    <div class="modal" tabindex="-1" role="dialog" id="add-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aggiungi esame</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form aggiunta esame -->
                    <form id="add-form">
                        <div class="form-group">
                            <label for="cod_corso_laurea">Corso di laurea</label>
                            <select name="cod_corso_laurea" id="cod_corso_laurea" class="form-control">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="cod_corso">Codice esame</label>
                            <input type="text" name="cod_esame" id="cod_esame" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="nome_corso">Nome corso</label>
                            <input type="text" name="nome_corso" id="nome_corso" class="form-control">
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="anno">Anno</label>
                                <input type="number" name="anno" id="anno" min="1" class="form-control">
                            </div>
                            <div class="col">
                                <label for="cfu">CFU</label>
                                <input type="number" name="cfu" id="cfu" min="0" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="add-btn" onclick="createEsame();" data-dismiss="modal">
                        <i class="fa-solid fa-check"></i> Aggiungi
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i> Annulla
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table id="esami-table" class="table table-hover">
        <thead>
        <tr>
            <th>Codice</th>
            <th>Nome corso</th>
            <th>Descrizione</th>
            <th>Anno</th>
            <th>CFU</th>
            <th>Corso di Laurea</th>
            <th></th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="{{ url_for('static', filename='js/docenti/esami.js') }}"></script>
{% endblock %}
