{% extends 'studenti/studenti-base.html' %}
{% block title %} Iscrizione Appello {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <h1>Appello di {{ appello.prova.esame.nome_corso }}</h1>
    <div class="container-fluid border rounded my-3">
        <div class="row my-2">
            <div class="col-lg-2">Codice appello</div>
            <div class="col-lg-2">
                <input
                        class="form-control-plaintext"
                        id="cod_appello"
                        type="text"
                        readonly
                        value="{{ appello.cod_appello }}"
                >
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-2">Data e ora</div>
            <div class="col-lg-2">
                <!-- isoformat() non funziona perché a datetime-local non piace la timezone -->
                <input
                        class="form-control-plaintext"
                        id="appello-datetime"
                        readonly
                        type="datetime-local"
                        value="{{ appello.data_appello.strftime('%Y-%m-%dT%H:%M') }}"
                >
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-2">Aula</div>
            <div class="col-lg-2">{{ appello.aula }}</div>
        </div>
        <form id="form-iscriviti" action="{{ url_for(request.endpoint, **request.view_args) }}" method="post">
            <button class="btn btn-primary" type="submit">Iscriviti</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/studenti/appello.js') }}"></script>
{% endblock %}